@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-break: break-all;
}

body, html, .app, #root{
  height: 100%;
  width: 100%;
  background-color: #036aa4;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-inner{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-wrapper{
  flex:1;
  /* padding:32px 42px 0px; */
  /* height: 700px; */
  overflow: auto;
  background-color: #faf8f8;
  border-radius: 15px 0px 0px 15px;
}

.main-wrapper p.page-title{
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 24px;
}

.page-head{
  margin:30px 20px 20px 20px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.hr{
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin-top:15px;
  margin-bottom: 15px;
}
/* filter style */

.filter-wrapper{
  margin:30px 20px 20px 20px;
}
.filter-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-search-input{
  justify-self: flex-start;
  border:1px solid #e0e0e0;
  padding:8px;
  border-radius: 5px;
  width: 310px;
}

.filter-select{
  display: flex;
  justify-content: space-around;
}

.filter-select select{
  border-radius: 6px;
  margin-right: 20px;
  padding:5px;
  border:1px solid #e0e0e0;
}

/* table pagination style */

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding:10px; */
  color: #676767;
  font-size: 14px;
  background-color: #fff;
  padding: 10px 20px;
}

.pagination .pages-controller {
  display: flex;
  justify-content: flex-end;
}

.pagination .pages-controller button {
  /* width: 25px; */
  height: 25px;
  background-color: transparent;
  border: 0px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  color: #333;
  margin: 0px 5px;
}

.pagination .pages-controller button:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed !important;
}

.pageSelect {
  width: 65px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 12px;
  line-height: 34px;
  height: 25px;
}

.pageInput-wrapper {
  align-self: center;
}

.pageInput {
  width: 40px;
  margin-right: 5px;
  padding-left: 5px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;

}

/* table row detail style */

.detail-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detail-wrapper .flex-row{
  display:flex;
  flex-direction: row;
}

.detail-wrapper .title{
  flex:1;
}

.detail-wrapper .content{
  flex:2;
}

.detail-wrapper .action-wrapper{
  flex:1;
}


 table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 10px;
  margin-top: 40px;
  background-color: #fff;
}

 .tableHeader img{
  margin-top:2px;
}

 table thead th {
  border-bottom: 10px solid #faf8f8;
}

 table tr:first-child td{
  border-top: .5px solid #dfdfdf;
}

 table td{
  border-bottom: .5px solid #dfdfdf;
}

 table th,
 table td {
  padding: 10px 20px;
  /* border: 1px solid #e2e2e2; */
  font-family: 'roboto';
  font-weight: 400;
}

 thead th div {
  text-align: left;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #828282;
  font-family: 'Nunito';
  font-weight: 400;

}

 table tbody td a {
  display: flex;
  align-items: center;
  color: #0070C9;
  transition: all .2s;
}

 table .status {
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  /* width:100%; */
  width: 100px;
}
